.section {
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  padding: 2rem 4rem;
  box-shadow: 5px 7px 4px #0000000f;
  border-radius: 0.9rem;
  position: relative;
  cursor: pointer;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pictureWrapper {
  width: 9rem;
  height: 9rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePic {
  display: block;
  height: auto;
  width: 100%;
  clip-path: circle();
}

.status {
  position: absolute;
  font-size: 15rem;
  right: 1rem;
  bottom: -4rem;
}

.statusOn {
  color: #2fdb6a;
}

.statusOff {
  color: #e5bb02;
}

.busy {
  color: #d6354a;
}

.nameDetails {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nameOnFocus {
  font-size: 2rem;
  font-weight: 700;
}

.nameOffFocus {
  font-size: 1.8rem;
  font-weight: 600;
}

.gender {
  color: var(--color-main);
  background-color: var(--color-bg);
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.contactIcon,
.bellIcon {
  clip-path: circle();
  width: 3.5rem;
  height: auto;
  padding: 0.8rem;
  margin-left: auto;
}

.contactIcon {
  color: #fff;
  background-color: var(--color-main);
}

.bellIcon {
  padding: 0.35rem;
  color: var(--color-main);
  border: 2px solid var(--color-main);
  border-radius: 4rem;
}

.bellIcon:hover {
  color: #fff;
  background-color: var(--color-main);
}

.avail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.clock {
  color: #00000060;
  font-size: 1.5rem;
}

.availText {
  font-weight: 800;
  font-size: 1.2rem;
}

.availTextOn {
  color: #2fdb6a;
}

.availTextOff {
  color: #00000060;
}

.labels {
  display: flex;
  gap: 1rem;
}

.labels p {
  color: var(--color-main);
  background-color: var(--color-bg);
  padding: 0 1rem;
  font-size: 1.4rem;
}

.descOnFocus {
  margin-top: 1rem;
}

.descNotOnFocus {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: var(--color-text);
}

.sizeArrow {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.contract {
  font-size: 1.8rem;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statsCol {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  padding: 1rem 8rem;
  align-items: center;
  margin-top: 1rem;
  gap: 0.6rem;
}

.statsIcon {
  font-size: 2.5rem;
  font-weight: 600;
  color: #00000084;
}

.colLabel {
  font-size: 1.1rem;
  font-weight: 550;
  color: #00000084;
}

.colNum {
  font-weight: 700;
  font-size: 1.8rem;
}

.datesHead {
  margin: 2rem 0 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.7rem;
  color: var(--color-text);
}

.datesHead p {
  font-weight: 550;
}

.calender {
  font-size: 2rem;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 1rem;
  font-size: 1.35rem;
}

.dates p {
  background-color: var(--color-bg);
  padding: 1rem;
  color: var(--color-text);
}

.langsHead {
  color: var(--color-text);
  font-weight: 550;
}

.langs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.langs p {
  background-color: var(--color-bg);
  padding: 0.5rem 3rem;
  color: var(--color-text);
  font-size: 1.35rem;
}

.cardOnFocus {
  grid-column: span 2;
  grid-row: span 2;
  box-shadow: none;
}

.cardOnFocusThird {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  box-shadow: none;
}

.cardOnFocusSixth {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  box-shadow: none;
}

.cardOffFocus:hover {
  animation: popup 0.7s ease-in-out infinite alternate;
  box-shadow: 2px 4px 1px #0000000f;
}

@keyframes popup {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
  }
}
